@model AlterarPalavraPasseViewModel
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Alterar palavra-passe";
}

<h3>@ViewData["Title"]</h3>

@if (TempData["Erro"] != null)
{
    <p class="alert alert-danger">@TempData["Erro"]</p>
}

<form asp-action="AlterarPalavraPasse" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="PalavraPasseAtual" class="control-label"></label>
        <input asp-for="PalavraPasseAtual" class="form-control" />
        <span asp-validation-for="PalavraPasseAtual" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NovaPalavraPasse" class="control-label"></label>
        <input asp-for="NovaPalavraPasse" class="form-control" />
        <span asp-validation-for="NovaPalavraPasse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmacaoNovaPalavraPasse" class="control-label"></label>
        <input asp-for="ConfirmacaoNovaPalavraPasse" class="form-control" />
        <span asp-validation-for="ConfirmacaoNovaPalavraPasse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Alterar" class="btn btn-primary" />
    </div>

</form>

<a asp-action="Index">Voltar</a>
