@model string
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "A minha conta";
}

@if (TempData["Sucesso"] != null)
{
    <p class="alert alert-success">@TempData["Sucesso"]</p>
}

<p>Nome de utilizador: @User.Identity.Name</p>

<p><a asp-action="AlterarPalavraPasse">Alterar palavra-passe</a></p>

@if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_CLIENTE))
{
    <p>
        Endereço de e-mail:
        @if (Model == null)
        {
            <text>(nenhum)</text>
        }
        else
        {
            <text>@Model</text>
        }
        <a asp-action="AlterarEmail">Alterar</a>
    </p>
}
