@{
    Layout = "../Shared/_Layout";
}

@section AppendToHead
{
    <style>

        /*body {
            background-color: #4CAF50;
            color: #fff;
        }

        #logo_icon {
            margin-left: 42%;
            margin-top: 3%;
            width: 10%;
            height: 10%;
        }

        #logo {
            margin-left: 41%;
            margin-top: 1%;
        }*/

    </style>
}

<h1>Bela Sopa</h1>

@RenderBody()
