
@{
    ViewData["Title"] = "Bela Sopa - Receitas";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h3>Receitas</h3>


<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p> <a asp-controller="Home" asp-action="RegisterUser">Registo</a></p>
</div>
