
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Lojas próximas";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
        </div>
        <div class="col-4">
            <div id='printoutPanel' style="display:none;overflow:auto;">
                <p onclick="changeView(41.557140, -8.405205)" style="cursor: pointer;">BragaParque, Bairro da Quinta dos Congregados, 4710-427 Braga</a></p>
                <p onclick="changeView(41.553350, -8.422605)" style="cursor: pointer;">Av. Central 33, 4710-308 Braga</p>
                <p onclick="changeView(41.437989, -8.291936)" style="cursor: pointer;">R. Cmte. José Luis de Pina 577, 4810-225 Guimarães</p>
                <p onclick="changeView(41.360849, -8.199334)" style="cursor: pointer;">R. Dr. Manuel de Faria e Sousa, 4610-108 Felgueiras</p>
                <p onclick="changeView(41.178739, -8.614307)" style="cursor: pointer;">Rua do Amial 667/681 4200-062, 4200-056 Porto</p>
            </div>
        </div>
    </div>
</div>

<button style="margin-top:2em;" id="search" type="submit" class="btn btn-success" onclick="showWaypoints()">Procurar lojas</button>


<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&branch=experimental&key=Ap3Fn5C1EGzEsXDN7UqrIoYqFKj5popAxjxJ7Mi-EgRa--bSfeDB7yMVR9154KXp' async defer></script>
<script type='text/javascript'>
    var map, searchManager, point, loc;

    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            credentials: 'Ap3Fn5C1EGzEsXDN7UqrIoYqFKj5popAxjxJ7Mi-EgRa--bSfeDB7yMVR9154KXp',
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 10
        });
        coords = {
                "BragaParque": new Microsoft.Maps.Location(41.557140, -8.405205),
                "Centro Braga": new Microsoft.Maps.Location(41.553350, -8.422605),
                "Guimaraes": new Microsoft.Maps.Location(41.437989, -8.291936),
                "Felgueiras": new Microsoft.Maps.Location(41.360849, -8.199334),
                "Porto": new Microsoft.Maps.Location(41.178739, -8.614307)
            }

            //Create custom Pushpin
        var pins = [new Microsoft.Maps.Pushpin(coords["BragaParque"], {
            title: 'Pingo Doce',
            subTitle: 'BragaParque'
        }),
        new Microsoft.Maps.Pushpin(coords["Centro Braga"], {
            title: 'Pingo Doce',
            subTitle: 'Centro Braga'
        }),
        new Microsoft.Maps.Pushpin(coords["Guimaraes"], {
            title: 'Pingo Doce',
            subTitle: 'Guimaraes'
        }),
        new Microsoft.Maps.Pushpin(coords["Felgueiras"], {
            title: 'Pingo Doce',
            subTitle: 'Felgueiras'
        }),
        new Microsoft.Maps.Pushpin(coords["Porto"], {
            title: 'Pingo Doce',
            subTitle: 'Porto'
        })];

        //Add the pushpin to the map
        pins.forEach(pin => {
        	Microsoft.Maps.Events.addHandler(pin, 'click', () => directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: coords[pin.entity.subtitle] })));
        	map.entities.push(pin)
        });
    }


    function changeView(x,y) {
        map.setView({
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            center: new Microsoft.Maps.Location(x, y),
            zoom: 15
        });
    }

    function showWaypoints() {
        document.getElementById("printoutPanel").style.display = "block";
    }

    window.addEventListener("load", function () {
        navigator.geolocation.getCurrentPosition(function (position) {
            loadMapScenario(position.coords);
        });
    });

</script>

