@model ClienteReceitaFinalizada
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Confecionar";
    ViewData["HideHeading"] = true;
}
<h2>Confeção Concluida</h2>
<h5 style="margin-top:1.5em;">Tempo de Confeção (minutos)</h5>

Model.GetDuraçãoMinutos();

<div style="margin-top:2em;">
    <h5>Avaliação da Confeção</h5>

    <h7>Dificuldade</h7>

    Achou a confeção deste receita:

    <form>
        <div class="container" style="margin-top:1em;">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <select name="dificuldade" class="form-control" onchange="this.form.submit()">
                            <option selected value=""></option>
                            <option value="@Dificuldade.Facil">Fácil</option>
                            <option value="@Dificuldade.Media">Média</option>
                            <option value="@Dificuldade.Dificil">Difícil</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button style="background-color:#4CAF50; border-color: #4CAF50;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Finalizar
        </button>
    </form>
</div>


