@model (Receita Receita, IList<Tecnica> Tecnicas, IList<Utensilio> Utensilios, bool Favorita, int Tarefa)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Confecionar";
    ViewData["HideHeading"] = true;
}

<h2>Confeção Concluida</h2>

<h4>Avaliação</h4>

<div class="container">
    <div class="row">
        <div class="col">
            1
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            2
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            3
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            4
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            5
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            6
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            7
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            8
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            9
            <input type="radio" name="optradio" unchecked>
        </div>
        <div class="col">
            10
            <input type="radio" name="optradio" unchecked>
        </div>
    </div>
</div>
