
@{
    ViewData["Title"] = "Sopa de *****";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Visualização de Receita</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="~/sopa.jpg" alt="Receita 1" />
        </div>
        <div class="col-sm-4">
            col-sm-4
        </div>
    </div>
</div>
