@model List<ClienteReceitaFinalizada>
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Histórico";
}
<div class="table-responsive-sm">
    <table class="table">
        <caption>Historico</caption>
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Receita</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receitaFinalizada in Model)
            {
                <tr>
                    <td>@receitaFinalizada.Receita.Nome</td>
                    <td>@receitaFinalizada.DataInicio.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
