@{
    Layout = "_Layout";
}

@section AppendToHead
{
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="~/style.css" />
}

    <div class="wrapper">
        <!-- sidebar  -->
        <nav id="sidebar" style="overflow: auto;">
            <div class="sidebar-header">
                <img id="logo_icon" src="~/logo.png" alt="Bela Sopa">
                <h3 id="logo">Bela Sopa</h3>
                @if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_ADMINISTRADOR))
                {
                    <p style="color: #ffffff">Olá, @User.Identity.Name.<br />Autenticado como administrador.</p>
                }
                else if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_CLIENTE))
                {
                    <p style="color: #ffffff">Olá, @User.Identity.Name.</p>
                }
                <hr />
            </div>
            <ul class="list-unstyled components">
                <li id="contamenu">
                    <a asp-controller="Conta" asp-action="Index">
                        <i class="fas fa-user"></i>
                        <span>A minha conta</span>
                    </a>
                </li>
                @if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_ADMINISTRADOR)) {
                    <li>
                        <a asp-controller="Utilizadores" asp-action="Index">
                            <i class="fas fa-users"></i>
                            <span>Utilizadores</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Receitas" asp-action="Index">
                            <i class="fas fa-book"></i>
                            <span>Receitas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ingredientes" asp-action="Index">
                            <i class="fas fa-carrot"></i>
                            <span>Ingredientes</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tecnicas" asp-action="Index">
                            <i class="fas fa-utensils"></i>
                            <span>Técnicas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Utensilios" asp-action="Index">
                            <i class="fas fa-blender"></i>
                            <span>Utensílios</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="CriarReceita" asp-action="Index">
                            <i class="fas fa-plus-square"></i>
                            <span>Adicionar Receita</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Utilizadores" asp-action="VerLojas">
                            <i class="fas fa-store-alt"></i>
                            <span>Ver Lojas</span>
                        </a>
                    </li>
                } else if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_CLIENTE)) {
                    <li id="ConfeçaoMenu">
                        <a asp-controller="EmConfecao" asp-action="Index">
                            <i class="fas fa-play"></i>
                            <span>Em confeção</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Receitas" asp-action="Index">
                            <i class="fas fa-book"></i>
                            <span>Receitas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ingredientes" asp-action="Index">
                            <i class="fas fa-carrot"></i>
                            <span>Ingredientes</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tecnicas" asp-action="Index">
                            <i class="fas fa-utensils"></i>
                            <span>Técnicas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Utensilios" asp-action="Index">
                            <i class="fas fa-blender"></i>
                            <span>Utensílios</span>
                        </a>
                    </li>
                    <li id="EmentaMenu">
                        <a asp-controller="EmentaSemanal" asp-action="Index">
                            <i class="fas fa-calendar-alt"></i>
                            <span>Ementa semanal</span>
                        </a>
                    </li>
                    <li id="HistoricoMenu">
                        <a asp-controller="Historico" asp-action="Index">
                            <i class="fas fa-history"></i>
                            <span>Histórico</span>
                        </a>
                    </li>
                }
                <hr />
                <li id="SairMenu">
                    <a asp-controller="Autenticacao" asp-action="Sair">
                        <i class="fas fa-sign-out-alt fa-flip-horizontal"></i>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- page content -->
        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fas fa-align-justify"></i>
            </button>
            @if (ViewData["ShowBackButton"] as bool? == true)
            {
                <button type="button" id="backButton" onclick="window.history.back()" class="btn btn-primary">
                    <i class="fas fa-arrow-left" style="margin-right: 5px;"></i> Voltar
                </button>
            }
            @if (ViewData["HideHeading"] as bool? != true)
            {
                <h2>@ViewData["Title"]</h2>
            }
            @RenderBody()
            <hr />
            <footer><p>&copy; 2019 &ndash; Bela Sopa</p></footer>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
        });
    });
</script>
