@model Dictionary<string, string>
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Ingredientes";
}
<table class="table">
    <caption>Ementa Semanal</caption>
    <thead>
        <tr>
            <th> # </th>
            <td>Ingrediente</td>
            <td>Quantidade</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingr in @Model) {
            <tr>
                <td>
                    ingr.Key
                </td>
                <td>
                    ingr.Value
                </td>
            </tr>
        }
    </tbody>
</table>
