@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "Bela Sopa - Receitas";
}
@model HomeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Receitas</h3>
<div class="container" style="border-bottom: 1px solid #717171;">
    <div class="row">
        <div class="col-sm">
            <form class="form-inline md-form form-sm active-cyan-2 mt-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" id="etiquetasSel">
                    <option>Qualquer etiqueta</option>
                    @foreach (var etiqueta in Model.Etiquetas)
                    {
                        <option>@etiqueta.Nome</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" id="sel1">
                    <option>Qualquer dificuldade</option>
                    <option>Dificuldade fácil</option>
                    <option>Dificuldade média</option>
                    <option>Dificuldade difícil</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:2%;">
    @for(var i = 0; i < Model.Receitas.Length; ) {
    <div class="row ReceitasLinha">
        @{ var j = 0;}
        @for ( ; j < 3 && i < Model.Receitas.Length; j++, i++) {
        <div class="col-sm Receita">
            <a href="#">
                <img class="ReceitaImg" src="data:image/x-icon;base64,@Model.Receitas[i].GetImagemBase64()" alt="" />
                <p>@Model.Receitas[i].Nome</p>
            </a>
            @switch (Model.Receitas[i].Dificuldade)
            {
                case Dificuldade.Facil:
                    <i class="fas fa-signal" style="color:green;"></i>
                    break;

                case Dificuldade.Media:
                    <i class="fas fa-signal" style="color:orange;"></i>
                    break;

                case Dificuldade.Dificil:
                    <i class="fas fa-signal" style="color:red;"></i>
                    break;
            }
            <span style="margin-left:5%;">@Model.Receitas[i].MinutosPreparacao min <i class="fas fa-clock"></i></span>
            <span style="margin-left:5%;">@Model.Receitas[i].NumDoses Pessoas</span>
        </div>
        }
        @for(; j < 3; j++) {
        <div class="col-sm Receita">
        </div>
        }
    </div>
    }
</div>
