@model CriarTecnicaViewModel
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Criar Tecnica";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}

<form asp-controller="CriarTecnica" method="post" id="utensilioForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Texto" class="control-label"></label>
                    <input asp-for="Texto" class="form-control" />
                    <span asp-validation-for="Texto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Imagem do utensílio</p>
                <input type="file" name="imagem" single>
            </div>
            <div class="form-group col">
                <input asp-action="Index" type="submit" value="Criar tecnica" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
